@charset "UTF-8";

p {
    color: #fff;
    line-height: 100px;
    background: #000;
    text-align: center;
    margin: 0;
}

div,p,body,header,footer,section,article,nav {
    margin: 0;
    padding: 0;
}

img {
    border: none;
    margin: 0;
    padding: 0;
}
/*END basic reset*/

/*html selectors*/
body {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333;
}

/* a:link is for not visited, a:visited, and just a applies to both
a will also style anchor links */

a:link, a:visited {
    text-decoration: none;
    color: #313131;
}

a:hover, a:active {
    text-decoration: none;
    color: #666;
}

/* hide elements from browser but show for doc outline */

.hidden {
    display: none;
}

/* this is the top left bar */
/* Div is block level and no width specified therefore stretches full screen */

#topBar {
    background-color: #000;
    height: 20px;
}

/* this is the box we put the entire site into */
/* Site Containter
This is essentially a box that we place the whole site in.
We center the box using margin 0  auto and give it a fixed width of 920 + 20px + 20px (960px) so it fits*/

#siteContainer {
    margin: 0 auto;
    width: 920px;
    padding-left: 20px;
    padding-right: 20px;
}

#mainHeader {
    display: flex;
}

.mainHeader div {
    padding-top: 10px;
    border-bottom: solid 1px #ddd;
}

.logo {
    flex: 5;
    order: 1;
}

.home {
    flex: 2;
    order: 2;
}

.about-us{
    flex: 1;
    order: 3;
}

.shop {
    flex: 1;
    order: 4;
}

.contact {
    flex: 1;
    order: 5;
}

/* when i put this in, it divided the nav (right) and the logo (left) */

#mainNav {
    float: right;
    width: 500px;
}

#promo {
    margin-top: 40px;
    overflow: hidden; /* fix colapsing parent */
    border-bottom: solid 1px #ddd;
    padding-bottom: 40px;
}

/* Get rid of this, here just to give different heigh to promo */

#promo p {
    line-height: 250px;
}

#promoImage {
    float: left;
    width: 600px;
}

#promoText {
    float: right;
    width: 280px;
}

#productInfo {
    margin-top: 40px;
    overflow: hidden; /* fixes colapsing parent */
    border-bottom: solid 1px #ddd;
    padding-bottom: 40px;
}

/* get rid of this, here just to give different height to productInfo */

#productInfo p {
    line-height: 200px;
}

.productDesc {
    float: left;
    width: 200px;
    margin-right: 40px;
}

.productDescLast {
    float: right;
    width: 200px;
}

#mainFooter {
    margin-top: 40px;
    margin-bottom: 40px;
    overflow: hidden;
}

#footerNav {
    float: left;
    width: 500px;
}

#copyRight {
    float: right;
    width: 310px;
}

#aboutUsImage p {
    line-height: 300px;
}

#aboutUs {
    margin-top: 40px;
    overflow: hidden; /* fix colapsing parent */
    border-bottom: solid 1px #ddd;
    padding-bottom: 40px;
}

/* CONTACT US - 2nd page */

#contactForm {
    margin: 40px;
    overflow: hidden; /* fix colapsing parent */
    border-bottom: solid 1px #ddd;
    padding-bottom: 40px;
}

#contactForm p {
    line-height: 400px;
}

#contactInput {
    float: left;
    width: 600px;
}

#promoTextContact {
    float: right;
    width: 250px;
}